@import url("https://fonts.googleapis.com/css?family=David+Libre|Federo|Days+One|ZCOOL+QingKe+HuangYou");
/*type-scale for root (desktop)
sets default (ie root), but can be overridden for mobile if fontScale is modified */
:root {
  --fontBaseSize: 20px;
  --fontScale: 1.25; }

/* modular scaling based upon unit of fontScale variable*/
.p-scale {
  font-size: var(--fontBaseSize); }

.h5-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale)); }

.h4-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale)); }

.h3-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

.h2-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

.h1-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

@media only screen and (max-width: 768px) {
  [class*="scale"] {
    --fontBaseSize: 16px; } }

@media only screen and (max-width: 420px) {
  [class*="scale"] {
    --fontBaseSize: 14px; } }

.container {
  width: 100%;
  padding: 10px;
  border: solid red 4px; }

.flex-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 10px;
  border: solid blue 4px; }

:root {
  --fullWidth: 100%; }

.spread-6 {
  width: var(--fullWidth); }

.spread-5 {
  width: calc(var(--fullWidth)*(5/6)); }

.spread-4 {
  width: calc(var(--fullWidth)*(4/6)); }

.spread-3 {
  width: calc(var(--fullWidth)*(3/6)); }

.spread-2 {
  width: calc(var(--fullWidth)*(2/6)); }

.spread-1 {
  width: calc(var(--fullWidth)*(1/6)); }

@media only screen and (max-width: 420px) {
  .expand-all-children-sm [class^="spread-"], .expand-all-children-sm [class*=" spread-"] {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .expand-all-children-md [class^="spread-"], .expand-all-children-md [class*=" spread-"] {
    width: 100%; } }

.red-fill {
  background-color: red; }

.blue-fill {
  background-color: blue; }

.center-text {
  text-align: center; }

.button-default, .button-secondary, .button-danger {
  max-width: 200px;
  height: 60px;
  border-radius: 2px;
  font-family: "David Libre", cursive;
  font-size: var(--fontBaseSize); }

.button-default {
  background-color: orange; }

.button-secondary {
  background-color: lightblue; }

.button-danger {
  background-color: red; }

.img {
  max-width: 500px;
  border: 1px solid #bdbdbd;
  padding: 10px;
  margin: 8px;
  -webkit-box-shadow: 5px 5px #dbdbdb;
  box-shadow: 5px 5px #dbdbdb;
  border-radius: 2px; }

.title {
  color: grey;
  font-family: "Federo", sans-serif;
  padding: 10px; }

.body {
  text-align: left;
  padding: 10px;
  margin: 8px;
  font-family: "David Libre", cursive; }

.hero {
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0; }
