@import url("https://fonts.googleapis.com/css?family=David+Libre|Federo|Days+One|ZCOOL+QingKe+HuangYou");
/*type-scale for root (desktop)
sets default (ie root), but can be overridden for mobile if fontScale is modified */
:root {
  --fontBaseSize: 20px;
  --fontScale: 1.25; }

/* modular scaling based upon unit of fontScale variable*/
.p-scale {
  font-size: var(--fontBaseSize); }

.h5-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale)); }

.h4-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale)); }

.h3-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

.h2-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

.h1-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

@media only screen and (max-width: 768px) {
  [class*="scale"] {
    --fontBaseSize: 16px; } }

@media only screen and (max-width: 420px) {
  [class*="scale"] {
    --fontBaseSize: 14px; } }

.container {
  width: 100%;
  padding: 0; }

.flex-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 5px; }

:root {
  --fullWidth: 93%; }

.spread-6 {
  width: var(--fullWidth); }

.spread-5 {
  width: calc(var(--fullWidth)*(5/6)); }

.spread-4 {
  width: calc(var(--fullWidth)*(4/6)); }

.spread-3 {
  width: calc(var(--fullWidth)*(3/6)); }

.spread-2 {
  width: calc(var(--fullWidth)*(2/6)); }

.spread-1 {
  width: calc(var(--fullWidth)*(1/6)); }

@media only screen and (max-width: 420px) {
  .expand-all-children-sm [class^="spread-"], .expand-all-children-sm [class*=" spread-"] {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .expand-all-children-md [class^="spread-"], .expand-all-children-md [class*=" spread-"] {
    width: 100%; } }

.lightblue-fill {
  background-color: lightblue; }

.red-fill {
  background-color: red; }

.blue-fill {
  background-color: blue; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button-default, .button-secondary, .button-danger {
  max-width: 200px;
  height: 60px;
  border-radius: 4px;
  font-family: "David Libre", cursive;
  font-size: var(--fontBaseSize); }

.button-default {
  background-color: orange; }

.button-secondary {
  background-color: lightblue; }

.button-danger {
  background-color: red; }

.img-full, .img-lg, .img-md, .img-sm {
  border: 1px solid #bdbdbd;
  padding: 10px;
  margin: 8px;
  -webkit-box-shadow: 5px 5px #dbdbdb;
  box-shadow: 5px 5px #dbdbdb;
  border-radius: 4px;
  height: 100%; }

.img-full {
  max-width: 100%; }

.img-lg {
  max-width: 500px; }

.img-md {
  max-width: 300px; }

.img-sm {
  max-width: 150px; }

.title {
  color: grey;
  font-family: "Federo", sans-serif;
  padding: 10px; }

.body {
  text-align: left;
  padding: 10px;
  margin: 8px;
  font-family: "David Libre", cursive; }

hr.divider-vertical {
  float: left;
  width: 0px;
  height: 95%;
  opacity: .5; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  background-color: lightblue; }

.nav a {
  padding-right: 30px;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-size: 26px;
  padding: 5px;
  border-radius: 5px; }
  .nav a:link {
    color: #eaeaea; }
  .nav a:hover {
    text-decoration: underline; }
  .nav a:visited {
    color: #eaeaea; }

@media screen and (max-width: 420px) {
  .nav {
    padding: 5px;
    margin: 5px; }
    .nav a {
      font-size: 22px; } }
