/* 
Copyright Josh Weiss 2019
Stacks Responsive Framework
Docs at https://github.com/jaywise/stacks-responsive-framework
*/
@import url("https://fonts.googleapis.com/css?family=David+Libre|Federo|Days+One|ZCOOL+QingKe+HuangYou");
body {
  max-width: 1100px;
  margin: 0 auto; }

.container {
  margin: 0;
  width: 100%;
  padding: 0; }

.flex-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 8px;
  margin-top: 8px; }

:root {
  --fullWidth: 93%; }

.spread-6 {
  width: var(--fullWidth); }

.spread-5 {
  width: calc(var(--fullWidth)*(5/6)); }

.spread-4 {
  width: calc(var(--fullWidth)*(4/6)); }

.spread-3 {
  width: calc(var(--fullWidth)*(3/6)); }

.spread-2 {
  width: calc(var(--fullWidth)*(2/6)); }

.spread-1 {
  width: calc(var(--fullWidth)*(1/6)); }

@media only screen and (max-width: 420px) {
  .expand-all-children-sm [class^="spread-"], .expand-all-children-sm [class*=" spread-"] {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .expand-all-children-md [class^="spread-"], .expand-all-children-md [class*=" spread-"] {
    width: 100%; } }

.img-full, .img-lg, .img-md, .img-sm {
  border: 1px solid #bdbdbd;
  margin: 8px;
  -webkit-box-shadow: 10px 10px 24px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px -16px rgba(0, 0, 0, 0.75);
  border-radius: 4px; }

.img-full {
  max-width: 100%; }

.img-lg {
  max-width: 500px; }

.img-md {
  max-width: 300px; }

.img-sm {
  max-width: 150px; }

:root {
  --fontBaseSize: 20px;
  --fontScale: 1.25; }

.p-scale {
  font-size: var(--fontBaseSize); }

.h5-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale)); }

.h4-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale)); }

.h3-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

.h2-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

.h1-scale {
  font-size: calc(var(--fontBaseSize) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale)); }

@media only screen and (max-width: 768px) {
  [class*="scale"] {
    --fontBaseSize: 16px; } }

@media only screen and (max-width: 420px) {
  [class*="scale"] {
    --fontBaseSize: 14px; } }

.title {
  color: grey;
  font-family: "Federo", sans-serif;
  padding: 10px; }

.body {
  text-align: left;
  padding: 10px;
  margin: 8px;
  font-family: "David Libre", cursive; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #CCE0FF;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24);
  box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24); }

.nav a {
  text-decoration: none;
  padding-right: 30px;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-size: 26px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  color: grey; }
  .nav a:link {
    color: grey; }
  .nav a:hover {
    text-decoration: underline; }
  .nav a.active {
    color: black; }

@media screen and (max-width: 420px) {
  .nav {
    padding: 5px;
    margin: 5px; }
    .nav a {
      font-size: 22px; } }

code {
  --fontBaseSize: 16px; }

body {
  background-color: #FEFFF1; }

.default-color-panel, .dark-color-panel, .light-color-panel {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 5px;
  -webkit-box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24);
  box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24);
  border-radius: 4px; }

.default-color-panel {
  background-color: white;
  border: solid white 1px; }

.dark-color-panel {
  background-color: #CCBAE8;
  border: solid #CCBAE8 1px; }

.light-color-panel {
  background-color: #DED9FF;
  border: solid #DED9FF 1px; }

.grid-example p {
  border: solid grey 1px;
  padding: 1em;
  text-align: center;
  font-family: "David Libre", cursive; }

.inset-example {
  padding: 20px;
  -webkit-box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24);
  box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24);
  background-color: white; }

footer {
  -webkit-box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24);
  box-shadow: inset 1px 0px 14px 4px rgba(0, 0, 0, 0.24); }

.button-default, .button-secondary, .button-danger {
  font-size: 26px;
  max-width: 200px;
  height: 60px;
  border-radius: 4px;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-size: var(--fontBaseSize);
  color: grey; }

.button-default {
  background-color: #EFCCFF; }

.button-secondary {
  background-color: #CCE0FF; }

.button-danger {
  background-color: #EFCCFF; }

.footer {
  width: 100%;
  height: 50px;
  background-color: #CCE0FF;
  border: 1px solid #CCE0FF;
  border-radius: 4px;
  padding-bottom: 5px; }
  .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer p {
    font-family: "David Libre", cursive;
    padding: 5px;
    text-align: center; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

hr.divider-vertical {
  float: left;
  width: 0px;
  height: 95%;
  opacity: .5; }
